/* indeex.html page*/

* {
    box-sizing: border-box
    
}

.navbar-brand {
    /*Navbar font and color*/
    font-family: 'Times New Roman', Times, serif;
    color: rgb(71, 107, 83);
    
}
#navbarNav {
    /*tried to swithc the side the links are on*/
    font-family:'Times New Roman', Times, serif;
    float:right;

}
.style1 h1 {
    /*Visual*/
    background-color:white;
    color:rgb(71, 107, 83);
    font-weight: bold;
    font-family:'Times New Romans', Times, serif;
    padding: 30px, 20px, 10px, 20px;
    margin: 20px;
    
}
/*Self portrait*/
.port {
    max-width: 150px;
    max-height: 150px;
    float: left;
    margin:10px;

}
p {
    margin: 20px;
    padding: 10px;

}

.style1 {
    /*visual*/
    border: 5px solid grey;
    background-color:white;
    position:static;
    margin: 20px;
    box-sizing: width 800px;
    float:left;
}
.style2 {
    float: left;
    box-sizing: border-box;
}
img {
    width: 350px;
    height: 350px;
    padding: 30px;
    margin:20px;
    display: inline-block;
}
header {
    padding: 3px;
    margin:10px;
}
.btn-primary {
    padding: 3px;
    margin: 15px; 
    
}
@media screen and (max-width: 900px) {
    body {
        background-color: gray;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: gray
    }
}